<ion-view view-title="Cadastro">
    <ion-content>
        <div class="row"></div>
        <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <form novalidate name="cadastro" ng-submit="submeter()">
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon1">Nome:</span>
                  <input type="text" class="form-control" ng-model="user.name" name="nome" aria-describedby="basic-addon3" required>
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Sobrenome:</span>
                  <input type="text" class="form-control" ng-model="user.sobrenome" name="sobrenome" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Telefone:</span>
                  <input type="text" class="form-control" name="telefone" ng-model="user.phone" aria-describedby="basic-addon3" required>
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Data de nascimento:</span>
                  <input type="text" class="form-control" name="data_nascimento" ng-model="user.data_nascimento" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">CPF:</span>
                  <input type="text" class="form-control" name="cpf" ng-model="user.cpf" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">RG:</span>
                  <input type="text" class="form-control" name="rg" ng-model="user.rg" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Endereço:</span>
                  <input type="text" class="form-control" name="endereco" ng-model="user.endereco" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">CEP:</span>
                  <input type="text" class="form-control" name="cep" ng-model="user.cep" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Foto:</span>
                  <input type="text" class="form-control" name="url" ng-model="user.url" aria-describedby="basic-addon3">
                </div>
                <div class="row"></div>
                <button class="btn btn-success" type="submit" ng-disabled="cadastro.$invalid">Cadastrar</button>
                <a href="/#/app/main" class="btn btn-primary">Voltar</a>
            </form>
        </div>
    </ion-content>
</ion-view>