<ion-view view-title="TestWatermelon">
  <ion-content>
  	<div class="row" ng-repeat="user in users">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4"></div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="thumbnail">
                    <a href="/#/app/user/{{ user._id }}">
                        <img src="{{user.url}}" alt="{{user.name}}">
                    </a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/#/app/user/{{ user._id}}">Nome: {{user.name}} {{ user.sobrenome }}</a></li>
                    <li class="list-group-item"><a href="/#/app/user/{{ user.id}}">Telefone: {{user.phone}}</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4"></div>
        </div>
  	</div>
  </ion-content>
</ion-view>
